body {
	color: #16161d; /* Eigengrau */
	margin: 1em;
	background: OldLace;
}
main {
	max-width: 42rem;
	padding: 1em;
	margin: 1em auto 1em auto;
	box-shadow: 0px 5px 7px BurlyWood;
	background: Ivory;
}

article > h1:first-of-type {
	font-size: 3rem;
	text-align: center;
	margin: 0;
}
blockquote {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	margin-left: 0;
}

h1,h2,h3 { font-weight: normal; }
p { line-height: 1.4; }
img {
	max-width: 100%;
	text-align: center;
}

nav,footer { text-align: center; margin-bottom: 1em; }
footer { color: grey; }
